<style>
.alert { color: red; }
.notice { color: green; }
</style>

<% flash.each do |type, msg| %><div class="<%= type %>"><%= msg %></div><% end %>
<% if flash.any? %><hr /><% end %>

<h1>Chartkick</h1>

<h2>Create beautiful JavaScript charts with one line of Ruby</h2>

<p>
  <a href="https://chartkick.com/">Chartkick</a> is a simple, yet powerful library for creating beautiful charts with one line of Ruby.
  It is built on top of the <a href="http://www.chartjs.org/">Chart.js</a> library.</p>

<h3>Line Chart</h3><br /><br />
<%= line_chart Person.group(:updated_at).count %>

<br /><br />
<h3>Pie Chart</h3><br /><br />
<%= pie_chart Yogurt.group(:flavor).count %>
<% data = [['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]] %>

<%= pie_chart data, library: { pieSliceText: 'value' } %>