<h1>Browser</h1>

<h2>Do some browser detection with Ruby.</h2>

<ul>
<li><code>browser.bot?</code> <%= browser.bot? %>
<li><code>browser.chrome?</code> <%= browser.chrome? %>
<li><code>browser.core_media?</code> <%= browser.core_media? %>
<li><code>browser.duck_duck_go?</code> <%= browser.duck_duck_go? %>
<li><code>browser.edge?</code> <%= browser.edge? %>
<li><code>browser.electron?</code> <%= browser.electron? %>
<li><code>browser.firefox?</code> <%= browser.firefox? %>
<li><code>browser.full_version</code> <%= browser.full_version %>
<li><code>browser.ie?</code> <%= browser.ie? %>
<li><code>browser.known?</code> <%= browser.known? %>
<li><code>browser.unknown?</code> <%= browser.unknown? %>
<li><code>browser.meta</code> <%= browser.meta %>
<li><code>browser.name</code> <%= browser.name %>
<li><code>browser.nokia?</code> <%= browser.nokia? %>
<li><code>browser.opera?</code> <%= browser.opera? %>
<li><code>browser.opera_mini?</code> <%= browser.opera_mini? %>
<li><code>browser.phantom_js?</code> <%= browser.phantom_js? %>
<li><code>browser.quicktime?</code> <%= browser.quicktime? %>
<li><code>browser.safari?</code> <%= browser.safari? %>
<li><code>browser.safari_webapp_mode?</code> <%= browser.safari_webapp_mode? %>
<li><code>browser.samsung_browser?</code> <%= browser.samsung_browser? %>
<li><code>browser.to_s</code> <%= browser.to_s %>
<li><code>browser.uc_browser?</code> <%= browser.uc_browser? %>
<li><code>browser.version</code> <%= browser.version %>
<li><code>browser.webkit?</code> <%= browser.webkit? %>
<li><code>browser.webkit_full_version</code> <%= browser.webkit_full_version %>
<li><code>browser.yandex?</code> <%= browser.yandex? %>
<li><code>browser.wechat?</code> <%= browser.wechat? %>
<li><code>browser.qq?</code> <%= browser.qq? %>
<li><code>browser.weibo?</code> <%= browser.weibo? %>
<li><code>browser.sputnik?</code> <%= browser.sputnik? %>
<li><code>browser.sougou_browser?</code> <%= browser.sougou_browser? %>
<li><code>browser.bot.name</code> <%= browser.bot.name %>
<li><code>browser.bot.search_engine?</code> <%= browser.bot.search_engine? %>
<li><code>browser.bot?</code> <%= browser.bot? %>
<li><code>browser.bot.why? </code> <%= browser.bot.why?  %>
<li><code>browser.device</code> <%= browser.device %>
<li><code>browser.device.id</code> <%= browser.device.id %>
<li><code>browser.device.name</code> <%= browser.device.name %>
<li><code>browser.device.unknown?</code> <%= browser.device.unknown? %>
<li><code>browser.device.blackberry_playbook?</code> <%= browser.device.blackberry_playbook? %>
<li><code>browser.device.console?</code> <%= browser.device.console? %>
<li><code>browser.device.ipad?</code> <%= browser.device.ipad? %>
<li><code>browser.device.iphone?</code> <%= browser.device.iphone? %>
<li><code>browser.device.ipod_touch?</code> <%= browser.device.ipod_touch? %>
<li><code>browser.device.kindle?</code> <%= browser.device.kindle? %>
<li><code>browser.device.kindle_fire?</code> <%= browser.device.kindle_fire? %>
<li><code>browser.device.mobile?</code> <%= browser.device.mobile? %>
<li><code>browser.device.nintendo?</code> <%= browser.device.nintendo? %>
<li><code>browser.device.playstation?</code> <%= browser.device.playstation? %>
<li><code>browser.device.ps3?</code> <%= browser.device.ps3? %>
<li><code>browser.device.ps4?</code> <%= browser.device.ps4? %>
<li><code>browser.device.psp?</code> <%= browser.device.psp? %>
<li><code>browser.device.silk?</code> <%= browser.device.silk? %>
<li><code>browser.device.surface?</code> <%= browser.device.surface? %>
<li><code>browser.device.tablet?</code> <%= browser.device.tablet? %>
<li><code>browser.device.tv?</code> <%= browser.device.tv? %>
<li><code>browser.device.vita?</code> <%= browser.device.vita? %>
<li><code>browser.device.wii?</code> <%= browser.device.wii? %>
<li><code>browser.device.wiiu?</code> <%= browser.device.wiiu? %>
<li><code>browser.device.samsung?</code> <%= browser.device.samsung? %>
<li><code>browser.device.switch?</code> <%= browser.device.switch? %>
<li><code>browser.device.xbox?</code> <%= browser.device.xbox? %>
<li><code>browser.device.xbox_360?</code> <%= browser.device.xbox_360? %>
<li><code>browser.device.xbox_one?</code> <%= browser.device.xbox_one? %>
<li><code>browser.platform</code> <%= browser.platform %>
<li><code>browser.platform.id</code> <%= browser.platform.id %>
<li><code>browser.platform.name</code> <%= browser.platform.name %>
<li><code>browser.platform.version</code> <%= browser.platform.version %>
<li><code>browser.platform.adobe_air?</code> <%= browser.platform.adobe_air? %>
<li><code>browser.platform.android?</code> <%= browser.platform.android? %>
<li><code>browser.platform.blackberry?</code> <%= browser.platform.blackberry? %>
<li><code>browser.platform.blackberry?(10) </code> <%= browser.platform.blackberry?(10)  %>
<li><code>browser.platform.chrome_os?</code> <%= browser.platform.chrome_os? %>
<li><code>browser.platform.firefox_os?</code> <%= browser.platform.firefox_os? %>
<li><code>browser.platform.ios?</code> <%= browser.platform.ios? %>
<li><code>browser.platform.ios?(9)</code> <%= browser.platform.ios?(9)   %>
<li><code>browser.platform.ios_app?     </code> <%= browser.platform.ios_app? %>
<li><code>browser.platform.ios_webview? </code> <%= browser.platform.ios_webview?  %>
<li><code>browser.platform.linux?</code> <%= browser.platform.linux? %>
<li><code>browser.platform.mac?</code> <%= browser.platform.mac? %>
<li><code>browser.platform.unknown?</code> <%= browser.platform.unknown? %>
<li><code>browser.platform.windows10?</code> <%= browser.platform.windows10? %>
<li><code>browser.platform.windows7?</code> <%= browser.platform.windows7? %>
<li><code>browser.platform.windows8?</code> <%= browser.platform.windows8? %>
<li><code>browser.platform.windows8_1?</code> <%= browser.platform.windows8_1? %>
<li><code>browser.platform.windows?</code> <%= browser.platform.windows? %>
<li><code>browser.platform.windows_mobile?</code> <%= browser.platform.windows_mobile? %>
<li><code>browser.platform.windows_phone?</code> <%= browser.platform.windows_phone? %>
<li><code>browser.platform.windows_rt?</code> <%= browser.platform.windows_rt? %>
<li><code>browser.platform.windows_touchscreen_desktop?</code> <%= browser.platform.windows_touchscreen_desktop? %>
<li><code>browser.platform.windows_vista?</code> <%= browser.platform.windows_vista? %>
<li><code>browser.platform.windows_wow64?</code> <%= browser.platform.windows_wow64? %>
<li><code>browser.platform.windows_x64?</code> <%= browser.platform.windows_x64? %>
<li><code>browser.platform.windows_x64_inclusive?</code> <%= browser.platform.windows_x64_inclusive? %>
<li><code>browser.platform.windows_xp?</code> <%= browser.platform.windows_xp? %>
<li><code>browser.platform.kai_os?</code> <%= browser.platform.kai_os? %>
</ul>